<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <script>
      function toggleContent(index) {
            var x = document.getElementById("additional-content-" + index);
            var btn = document.getElementById("show-more-button-" + index);
            var xb = document.getElementById("firsttwo-content-" + index);

            
            if (x.style.display === "none") {
               $("#additional-content-" + index).show();
               $("#image-content-" + index).show();               
                $("#firsttwo-content-" + index).hide();
                btn.innerHTML = "Show less";
            } else {
                $("#additional-content-" + index).hide();
                $("#image-content-" + index).hide();
                $("#firsttwo-content-" + index).show();
                btn.innerHTML = "Show more";
            }
        }
  </script>
    <bold><title>#help.ai</title></bold>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top main_top_menu">
        <div class="container-fluid">
          <a class="navbar-brand mr-4" href="/">help.ai</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
           
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" style="text-align: center;"  href="{{ url_for('chat') }}"><h3>Gen AI Powered Chat with Document</h3>
              </a>
                <a class="nav-item nav-link" href="{{ url_for('files') }}"> Uploaded Google Storage File
                </a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            {% block content %}{% endblock %}
          </div>
        
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
